*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* text-transform: capitalize; */
}

#page{
  display: flex;
  height:  100vh;
  background: #ddd;
  align-items: center;
  justify-content: center;
}

form{
  width: 350px;

  padding:32px 24px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: sans-serif;
  color: #323232;

}



#input-group{
  display: flex;
flex-direction: column;
}

input{
  border: 1px solid #ccc;
  padding: 8px;
  margin-top: 4px;


}

#login{
  border: none;
  background: deepskyblue;
  color: white;
  padding: 8px 0;
}

#reme{
  display: flex;
  align-items: center;
  gap: 10px;

}


h1{
  padding: 0;
  margin: 0;

}


/* 34 pause */