*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{

  background: #000;
  color: white;

}

#container{
display: flex;
align-items: center;
justify-content: center;
  height: 100vh;
  background: red;

}

#player{
  width: 350px;
  /* height: 350px; */
  background: white;
  color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#bg{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}


#content{

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 24px 16px;
overflow:hidden ;
}

#title{
  font-family: sans-serif;
  font-size: 24px;
  color: #323232;
padding: 0;
margin: 0;


}

#size{
  font-family: sans-serif;
color: gray;
padding: 0;
margin: 0;

}

#progress-info{
  width: 100%;
  display: flex;
  gap: 7px;
}

#progress{
  flex-grow: 1;
  height: 10px;

  background: rgba(104, 0, 255,0.3);

}

#progress-bar{
  height: 100%;
  width: 0%;
  background:red;
}

#full-duration, #current-du{
  font-family: sans-serif;
  color: #323232;



}


#controlls{
  display: flex;
  gap: 10px;
}


#pre, #next,#speaker,#loop{

  border: none;


}
#pre i, #next i,#speaker i,#loop i{

  font-size: 20px;
  
}


#play{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border-color: red;
}
#play i{
  font-size:23px;
}


 #controlls button{
cursor: pointer;
}

#img-box{
 position: relative;
background: red;
overflow: hidden;
}
 

#upload-input{
position: absolute;
width: 100%;
top: 0;
left: 0;
height: 100%;
opacity: 0;
}

.volume-btn{
  width: 50px;

}
.volume-btn input{
  width: 100%;
  
}