*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-transform: capitalize;
}

body{
  background-color: #453d3d;
}



#title{
  font-family: sans-serif;
  text-align: center;
  font-size: 80px;



}

img{
  width: 200px;
}


#container{


  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
margin: 0 auto;
/* background-color: red; */
}



#volumep{
  display: flex;
  align-items: center;
  justify-content: center;
gap: 24px;
}


#volumep i{
  font-size: 80px;
  color: #ddd;

}

#btn-parent  button{
  border: 1px solid aqua;
  padding: 30px;
  font-size: 24px;
border-radius: 8px;


}


.btnp{
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  margin-top: 100px;
}


#btn-parent button:hover{
  background: #B04C02;
  transition: 0.3s;
  cursor: pointer;
  color: white;
}

#result{
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
}