
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

body{
    padding: 0;
    margin: 0;
    overflow-x:hidden ;
}
#container{
    background: #ddd;
    height: 100vh;
    
}


.sidenavclass{
    position: fixed;
    top: 0;
    left: 0;
    background: red;
    width: 250px;
    height:100%;
}


#section{
    background: black;
    /* width: 900px; */
  width: calc(100% - 250px);
  height: 100vh;
  margin-left: 250px;
}

#section #topnav{
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
  
    background:blue;
    padding: 24px 24px;
}

/* #topnav button{
    padding: 8px 15px;
    font-size: 18px;

} */

.demo{
  width: 0px;
    transition: 0.3s ease-in-out;
}

#toggler{

width: 48px;
height: 48px;
border: none;
background: white;
font-size: 24px;
  border-radius: 50%;
display: none;
}


#toggler:hover{
    background-color:darkblue;
    color: white;
    transition: 0.2s ease;
    cursor: pointer;
}

#brand{
    font-family: sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    
}

#toolbar{
    display: flex;
     align-items: center;
     gap: 16px;
}


#sidenav-menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
}

#sidenav-menu button{
    border: none;
 padding: 10px 13px;
 font-family: sans-serif;
 font-weight: 600;


}
#sidenav-menu button:hover{
    cursor: pointer;
    background: darkorange;
    transition: 0.3s;
    color: white;
    

}

#content{
    color: white;
 padding: 70px 14px; 



}


 #Signin{
    display: none;

}

 .registerclass{
    background: darkorange;
}
/* #Signin{

} */






@media(max-width:768px) {

    #sidenav{
      width: 0;
        
    }

    #section{
        width: 100%;

    }

    #section{
        margin-left: 0px;

    }

   #section #topnav{
        left: 0px;
        width: 100%;
    }
    #toggler{
        display: block;
    }
    
}